@media screen and (max-width: 786px) {
    

	p, h1, h2, h3, h4 {
	font-size:25px;
}


	#glaw{
    margin: auto;
    width:auto;
}
.block{
    background: #2196F3;
    padding: auto;
}

#three-col {
    width: auto;
}

.block1{
    margin:3%;
    background: #2196F3;
    width:15%;
}

#block3{
    display: block;
    margin:auto;
    width:25%;
}

#four-col {
    width: auto;
}
.block2{
    margin:4%;
    width:23%;

	}

}

@media screen and (max-width: 480px) {

	p, h1, h2, h3, h4 {
		color:navy;
		font-size:30px;
		text-align: center;
}

	
	#glaw {
	width: auto;
}

	.block {
	background: #BBDEFB;
	width:auto;
}

	.block1{
    display:block;
    margin:10%;
    background: #BBDEFB;
    width:40%;

}

	#block3{
    margin:10%;
    background: #BBDEFB;
    width:40%;
}

	.block2{
    margin:15%;
    background: #BBDEFB;
    width:55%;
    padding: 10px;

	}
}
