@media screen and (max-width: 786px) {
    
	p, h1, h2, h3, h4 {
	color:green;
	font-size:25px;
}

	#glaw {
	width=width-device: 100%
}

	.block {
	background: #64B5F6;
	width:100%;
}

	.block1{
    font-size:25px;
    display:inline-block;
    margin:40px 40px 40px 40px;
    background: #64B5F6;
    width:19.2%;
    height:100px;
    padding: 50px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}

	.block2{
    font-size:25px;
    display: inline-block;
    margin:40px 40px 40px 40px;
    background: #64B5F6;
    width:21.3%;
    height:100px;
    padding: 40px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
	}
}

@media screen and (max-width: 480px) {

	p, h1, h2, h3, h4 {
		color:navy;
		font-size:30px;
		text-align: center;
}

	#glaw {
	width: 100%
}

	.block {
	background: #BBDEFB;
	width:400px;
}

	.block1{
    font-size:20px;
    display:block;
    margin:80px 80px 80px 80px;
    background: #BBDEFB;
    width:40%;
    height:100px;
    padding: 50px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}

	.block2{
    font-size:20px;
    display: block;
    margin:90px 90px 90px 90px;
    background: #BBDEFB;
    width:55%;
    height:100px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
	}
}
