@media screen and (max-width: 786px) {
    

	p, h1, h2, h3, h4 {
	color:green;
	font-size:25px;
}


	#glaw{
    margin: auto;
    width:auto;
}
.block{
    margin:5px;
    background: #2196F3;
    height:200px;
    padding: auto;
    text-align: center;
}

#three-col {
    width: auto;
}

.block1{
    display: inline-block;
    margin:4%;
    background: #2196F3;
    width:25%;
    height:100px;
    padding: 50px;
    text-align: center;
}

#block3{
    display: block;
    margin:auto;
    background: #2196F3;
    width:50%;
    height:100px;
    padding: 50px;
    text-align: center;
}

#four-col {
    width: auto;
}
.block2{
    display: inline-block;
    margin:4%;
    background: #2196F3;
    width:23%;
    height:100px;
    padding: 8px;
    text-align: center;

	}

}

@media screen and (max-width: 480px) {

	p, h1, h2, h3, h4 {
		color:navy;
		font-size:30px;
		text-align: center;
}

	
	#glaw {
	width: auto;
}

	.block {
	background: #BBDEFB;
	width:auto;
}

	.block1{
    display:block;
    margin:10%;
    background: #BBDEFB;
    width:40%;
    height:100px;
    padding: 50px;
    text-align: center;

}

	#block3{
    margin:10%;
    background: #BBDEFB;
    width:40%;
}

	.block2{
    display: block;
    margin:15%;
    background: #BBDEFB;
    width:55%;
    height:100px;
    padding: 10px;
    text-align: center;

	}
}
