#glaw{
    margin: auto;
    width:800px;
}
.block{
    margin:5px 5px 5px 5px;
    background: #4682B4;
    height:200px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}

#three-col {
    width: 100%;
}

.block1{
    display: inline-block;
    margin:5px 5px 5px 5px;
    background: #4682B4;
    width:19.2%;
    height:100px;
    padding: 50px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}

#four-col {
    width: 100%;
}
.block2{
    display: inline-block;
    margin:5px 5px 5px 5px;
    background: #4682B4;
    width:21.3%;
    height:100px;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
