

body{
margin:0;
padding:0;
}

#parent {
  width:100%;
  }

#header {
  position: relative;
  width: auto;
  top: 0;
}

#menu_wrapper {
  position: static;
  width: auto;
}

button, input {
  cursor: pointer;
}

#menu_bar {
position: absolute;
width: 4%;
height: 16%;
color: white;
background: #202328;
border-color: #2a2c30;
border-style: solid;
left: 3%;
}

#rss_bar {
  position: absolute;
  width: 4%;
  height: 16%;
  color: white;
  background: #202328;
  border-color: #2a2c30;
  border-style: solid;
  right: 19%;
}

#twitter_bar {
  position: absolute;
  width: 4%;
  height: 16%;
  color: white;
  background: #202328;
  border-color: #2a2c30;
  border-style: solid;
  right: 15%;
}

#tumblr_bar {
  position: absolute;
  width: 4%;
  height: 16%;
  color: white;
  background: #202328;
  border-color: #2a2c30;
  border-style: solid;
  right: 11%;
}

#facebook_bar{
  position: absolute;
  width: 4%;
  height: 16%;
  color: white;
  background: #202328;
  border-color: #2a2c30;
  border-style: solid;
  right: 7%;
}

#search_bar {
  position: absolute;
  width: 4%;
  height: 16%;
  color: white;
  background: #202328;
  border-color: #2a2c30;
  border-style: solid;
  right: 3%;
}

#container {
  position: relative;
  margin: -18% 3% 3% 3%;
  background: #f9f9f9;
}

#text_on_logo {
  position: absolute;
  width: 50%;
  margin: -25% 0 0 0;
  left: 5%;
  letter-spacing: 10px;
  white-space: nowrap;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: calc( (100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
  text-align: left;
  color: white;
}

#signup_form {
  width: 100%;
  font-family: 'Merriweather Sans', sans-serif;
}

#signup_text {
  display: inline-block;
  width: 10%;
  margin-left: 2.5%;
  margin-top: 1%;
  letter-spacing: 2px;
}

#form1 {
  display: inline-block;
  width: 80%;
  margin-left: 3%;
  margin-bottom: 1%;
  text-align: center;
  white-space: nowrap;
}

.input {
  width: 33%;
  height: 1em;
  border: 0;
  margin-left: 2%;
  text-align: left;
  padding: 1%;
}

#submit_1 {
  width: 25%;
  height: 3em;
  margin-left: 2%;
  border: 0;
  text-align: center;
  background: #202328;
  color: white;
}

